
.ui.dropdown.item.firstMenuList:hover .menu.secondMenu.list {
  display: block;
}

.ui.dropdown.item.menuTitle:hover .menu.secondMenu {
  display: none;
}

.ui.dropdown.item.menuTitle:hover .menu.firstMenu {
  display: block;
}


