body{
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
}

.topmenu
{
  width: 100%;
  padding: 5px 0;
  background-color: #f2f2f2;
  display: inline-block;
}

.topbutton
{
  margin-left: 15px;
}

.right
{
  float: right;
  margin-right: -110px;
}

.topleft
{
  width: 500px;
  display: inline-block;
}

.topright
{
  width: 500px;
}

ul.menu
{
  margin: 0px;
}

ul.menu li
{
  width: 500px;
  display: inline-block;
}

.mylogo
{
  display: inline-block;
}

.ui.input
{
  border: 1px #000 solid;
  border-radius: 5px;
  width: 525px;
}

.search
{
  display: inline-block;
}

.mylogo img
{
  width: 310px;
}

.searchcontainer
{
  padding: 30px 0;
  background-color: #fff;
  text-align: center;
  height: 120px;
}

.searchcontainer:before {
  content: '';
  /*background: url("../image/logo.png");*/
  width: 300px;
  height: 75px;
  display: inline-block;
  vertical-align: middle;
}

input.topsearch
{
  width: 525px;
}

.ui.grid {
  margin: 0;
}

.ui.vertical.menu
{
  margin-left: 30px;
  width: 80%;
  background-color: #161616;
  color: #ffffff;
  text-align: center;
}

.ui.dropdown.item
{
  color: #fff;
}
.ui.dropdown.item#categoryTitle
{
  margin: 0;
  font-size: 15px;
  background: #C30000;
}
.ui.dropdown.item:hover {
  background: darkred;
}
.ui.dropdown.item:hover .menu
{
  display: block;
  background: rgba(255, 255, 255, 0.5);
}
.ui.four.column.grid
{
  padding-left: 0;
  padding-right: 20px;
}
.ui.inverted.teal.menu
{
  padding: 0px;
}
.pagination
{
  padding-left: 750px;
  padding-top: 30px;
}

ul,li
{
  margin: 0;
  padding: 0;
}

.pagination ul
{
  -webkit-user-select: none;
}

.pagination li
{
  display: inline-block;
  padding: 0.5em 0;
  background: #2EA69C;
  color: #FFF;
  cursor: default;
  border-radius: 3px;
  margin: 0 3px;
  width: 2em;
  text-align: center;
}

.pagination li:first-child,
.pagination li:last-child
{
  width: auto;
  padding: 0.5em 0.8em;
}

.pagination li.current
{
  background: teal;

}

.pagination li.current:hover
{
  background: teal;
}

.pagination li:hover
{
  background: teal;
}

.pagination li.ellipsis,
.pagination li.ellipsis:hover
{
  background: none;
  padding: 0;
  width: 1.2em;
}

.pagination li.ellipsis::after
{
  content: "...";
  color: #000;
}

.pagination li.previous:hover,
.pagination li.next:hover
{
  background: #2EA69C;
}
