body{
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
}

.ui.vertical.menu
{
  width: 80%;
  background-color: #161616;
  color: #ffffff;
  border-radius: 0.2857rem;
  text-align: center;
}

.ui.dropdown.item
{
  color: #fff;
}

.ui.dropdown.item#categoryTitle
{
  margin: 0;
  font-size: 15px;
  background: #C30000;
  cursor: auto;
}

.ui.dropdown.item:hover {
  background: darkred;
}

.ui.dropdown.item:hover .menu
{
  display: block;
  background: rgba(255, 255, 255, 0.10);
}

.ui.secondary.menu .dropdown.item .menu {
  min-width: 0%;
  max-width: 45%;
}

.ui.four.column.grid
{
  padding-left: 0;
  padding-right: 20px;
}

.ui.inverted.teal.menu
{
  padding: 0px;
}

.ui.segment>img
{
  cursor: pointer;
}

.ui.breadcrumb a
{
  color: #000;
}

.notice
{
  text-align: center;
  font-size: 2rem;
  height: 200px;
  line-height: 200px;
  color: teal;
}

img.ui.fluid.image.itemImg
{
  height: 200px;
}

.pagination
{
  padding-left: 500px;
  padding-top: 30px;
}

ul,li
{
  margin: 0;
  padding: 0;
}

.pagination ul
{
  -webkit-user-select: none;
}

.pagination li
{
  display: inline-block;
  padding: 0.5em 0;
  background: #2EA69C;
  color: #FFF;
  cursor: default;
  border-radius: 3px;
  margin: 0 3px;
  width: 2em;
  text-align: center;
}

.pagination li:first-child,
.pagination li:last-child
{
  width: auto;
  padding: 0.5em 0.8em;
}

.pagination li.current
{
  background: teal;
}

.pagination li.current:hover
{
  background: teal;
}

.pagination li:hover
{
  background: teal;
}

.pagination li.ellipsis,
.pagination li.ellipsis:hover
{
  background: none;
  padding: 0;
  width: 1.2em;
}

.pagination li.ellipsis::after
{
  content: "...";
  color: #000;
}

.pagination li.previous:hover,
.pagination li.next:hover
{
  background: #2EA69C;
}
