body{
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
}

.display.none
{
  display: none;
}

.center
{
  text-align: center;
}

td.center
{
  text-align: center;
}

h1.right
{
  align: right;
}

.red
{
  color:red;
}

img.size{
  width: 70px;
  height: 70px;
}
