.item-image {
  margin: auto;
  max-width: 400px;
  max-height: 350px;
}

.ui.breadcrumb a {
  color: #000;
}

.image-preview {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  width:400px;
  height:350px;
}

