.container {
  background: #ffffff;
}

.ui.grid {
  margin: 0;
}


#current-user {
  color: teal;
}

#logout {
  display: none;
}

#my-account,
#my-cart {
  padding: 10px;
}

#cart-amount {
  padding: 0;
}

.topBar > .column > a {
  color: teal;
}

.ui.grid.topBar {
  height: 35px;
  background: #F2F2F2;
}

.ui.grid.topBar > .column {
  margin-left: 5px;
  padding: 5px;
}

.ui.grid.myLogoAndSearch {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 0;
}

.ui.grid.myLogoAndSearch {
  background: #fff;
}

.myLogo {
  text-align: center;
  padding: 0;
}

.myLogoImg {
  width: 75%;
  height: 75%;
}

.ui.grid.myLogoAndSearch > #mySearch {
  padding-top: 25px;
}

.searchInput {
  width: 50%;
}

.ui.search .prompt {
  border: 2px solid #00B5AD;
}

.ui.divider.horizontal {
  color: black;
}

.seven.wide.column.group {
  text-align: right;
}

.sixteen.wide.column.copyright p {
  text-align: center;
}

