#register-header {
  color: teal;
  padding: 10px;
  border: 0px solid #000;
  border-bottom-width: 1px;
  text-align: center;
}

.field {
  padding-left: 120px;
}

i.checkmark.icon {
  height: 37px;
  line-height: 37px;
  padding-left: 10px;
  color: green;
  display: none;
}

#user-name,
#password,
#repeat-password,
#phone-number,
#address,
#email {
  width: 65%;
}

#user-name-message,
#password-message,
#repeat-password-message,
#phone-number-message,
#address-message,
#email-message {
  height: 30px;
  line-height: 30px;
  padding: 20px;
  color: darkred;
  type: hidden;
  border: 0px;
}

#button-field {
  text-align: center;
}
