extends adminLayout

block css
  link(rel="styleSheet" type="text/css" href="/style/addNewItem.css")

block script
  script.
    System.import('js/addNewItem');

block title
  title 添加新商品

block items-management
  a.ui.link.item.active(href="/admin/itemsManagement") 商品管理

block content
  .ui.grid(class="ui grid")
    .eight.wide.centered.column
      .ui.negative.message#emptyError(style='display: none')
        i.close.icon
        .header 请输入完整信息
      .ui.negative.message#inputError(style='display: none')
        i.close.icon
        .header 请输入正确的信息格式
      .ui.form.red.segment
        .ui.grid
          .eight.wide.centered.column
            label 商品名称:
              .ui.input.error
                input#itemName(placeholder='商品名称', type='text', style="border: grey 1px solid")
          .eight.wide.centered.column
          .eight.wide.centered.column
            label 选择商品分类:
              .ui.secondary.vertical.menu
                .ui.dropdown.item.error#categoryTitle(style="border: grey 1px solid") 商品服务分类
                - each mainCategory in data.mainCategories
                  .ui.dropdown.item.firstMenu(data-id="#{mainCategory.id}") #{mainCategory.name}
                    i.dropdown.icon
                    .menu
                      - each subCategory in mainCategory.subCategories
                        a.item.secondMenu #{subCategory.name}

          .eight.wide.centered.column
          .eight.wide.centered.column
            label 商品单位:
              .ui.input.error
                input#itemUnit(placeholder='商品单位', type='text', style="border: grey 1px solid")
          .eight.wide.centered.column
          .eight.wide.centered.column
            label 商品单价:
              div.ui.input.error
                input#itemPrice(placeholder='请输入商品单价', type='text', style="border: grey 1px solid")
          .eight.wide.centered.column
          .eight.wide.centered.column
            label 商品库存:
              div.ui.input.error
                input#itemInventory(placeholder='请输入商品库存', type='text', style="border: grey 1px solid")
          .eight.wide.centered.column
          .eight.wide.centered.column
            label 商品图片:
              .ui.input.error
                input#itemImage(placeholder='请输入图片名称', type='text', style="border: grey 1px solid")
          .three.wide.centered.column
            img.ui.fluid.image.size.hidden.imageSrc()
          .five.wide.column
          .three.wide.column
            a.ui.blue.submit.button#cancel(href="/admin/itemsManagement   ") 关闭
          .three.wide.column
            a.ui.green.submit.button#save 保存


//
//<div class="ui vertical menu">
//  <div class="ui dropdown item"> 爱酷学习网
//    <i class="dropdown icon"></i>
//    <div class="menu">
//      <a class="item">我的视频教程</a>
//      <a class="item">全部视频教程</a>
//      <a class="item">主页</a>
//    </div>
//  </div>
//</div>
