doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="/jspm_packages/github/ziyiking/Semantic-UI@master/dist/semantic.css")
    link(rel="stylesheet" type="text/css" href="/style/adminLayout.css")
    script(src = "/jspm_packages/system.js")
    script(src = "/config.js")
    script.
      System.import("js/layout");
    block css
    block script
    block title
      title 管理员首页
  body
    .container
      .ui.grid.topBar
        .one.wide.column &nbsp;
        .one.wide.column
          a(href='/')
            img.ui.fluid.image.itemImg(data-src="/image/smalllogo.png" style="height:25px")
        .ten.wide.column
          span Hi，
          span 亲爱的管理员
          span#current-admin #{currentAdminName || ''}，
          span 欢迎来到Let Us Go商城
        .one.wide.column
          a#admin-logout 注销
      .ui.grid
        .row
          .fourteen.wide.column.centered
            .ui.inverted.teal.menu
              .left.menu
                a.ui.item LetUsGo
                block admin-home
                  a#admin-home.ui.link.item(href="/admin/index") 主页
                  i.home.icon
                block categories-management
                  a.ui.link.item(href="/admin/categoriesManagement") 分类管理
                block items-management
                  a.ui.link.item(href="/admin/itemsManagement") 商品管理
                block users-management
                  a.ui.link.item(href="/admin/usersManagement") 用户管理
      block content
      .ui.divider.horizontal 关于我们
      footer
        .ui.grid
          .sixteen.wide.column
          .seven.wide.column.group
            h4 LetUsgo 团队
            p TWA 学院
            p LetUsGo 计划组
          .two.wide.column
          .seven.wide.column
            h4 联系我们
            p 地址：陕西省西安市雁塔区欧亚路一号
            p 邮编：710077
          .sixteen.wide.column.copyright
            p copyright@letusgo All Rights Reserved 版权所有LETUSGO商城
            p © 2015 LetUsGo, Inc.
