doctype html
html
  head
    link(rel="styleSheet" href="style/home.css")
    script(src="jspm_packages/system.js")
    script(src="config.js")
    script.
      System.import('js/pageApp')
  body
    div.pagination


