doctype html
html
  head
    - var name = '来此购网上购物商城'
    title= name
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="github/Semantic-Org/Semantic-UI@1.11.5/dist/semantic.css")
    link(rel="stylesheet" type="text/css" href="style/homepage.css")
    link(rel="styleSheet" type="text/css" href="style/home.css")

    //script(src="github/Semantic-UI@1.11.5/dist/semantic.js")
    script(src="jspm_packages/system.js")
    script(src="config.js")
    script.
      System.import('js/homePage')
    script.
      System.import('js/pageApp')
  body#home
    header
      div.topmenu
        ul.menu
          li
            em.
              Hi，欢迎来到Let Us Go商城
            a.topbutton(href="#") 请登录
            a.topbutton(href="#") 免费注册
          li
            a.topbutton.right(href="#") 我的Let Us Go
    div.container
      div.searchcontainer
        //div.mylogo
        //  img(src= "image/logo.png")
        div.search
          div.ui.fluid.action.input
            input.topsearch(type="text" placeholder="Search...")
            button.ui.icon.button
              i.search.icon
      //div.searchcontainer
      //  div.mylogo
      //    img(src= "image/logo.png")
      //  div.search
      //    div.ui.fluid.action.input
      //      input.topsearch(type="text" placeholder="Search...")
      //      button.ui.icon.button
      //        i.search.icon
      div.ui.inverted.masthead.segment
        div.ui.secondary.vertical.menu
          div.ui.dropdown.item 商品服务分类
          - each category in categories
            div.ui.dropdown.item #{category.name}
              i.dropdown.icon
              div.menu
                - each subCategory in category.subCategories
                  a.item #{subCategory.name}
        div(class="ui page grid")
          div(class="row")
            div(class="four wide column")
              img(src="image/cat.png" class="ui medium vertical image")
            div(class="twelve wide column")
              div(class="ui vertical feature inverted warmth segment")
                div(class="ui centered page green grid")
                  div(class="fourteen wide column")
                    p.
                      亲们，欢迎光临【LetUsGo】商城。
                    p.
                      不管晴天雨天，能够见到您的一天，就是明媚的一天。
                    p.
                      选择来此购，享受购来此。来此购购物商城，您购物最好的选择！
                    p.
                      么么哒！！
      div.pagination
