extends managementLayout

block css
  link(rel="styleSheet" type="text/css" href="/style/cart.css")
//block script
//  script.
//    System.import('js/itemsManagement');
//block title
//  title 我的购物车
//
//block content
//  .ui.grid.centered
//    .sixteen.wide.column
//      h1.ui.header.centered
//        .content
//          i.icon.cart
//          .content 购物车列表
//    .fourteen.wide.column
//      table.ui.large.table
//        thead.center
//          th.two.wide 图片
//          th.three.wide 名称
//          th.two.wide 价格
//          th.three.wide 数量
//          th.two.wide 小计
//          th.two.wide
//          th.two.wide
//            input#allChecked(type="checkbox" name="checkedAllCartItem")
//            span 全选
//        tbody.center
//          tr
//            td.ui.teal.message.delete-message.hidden(colspan='7') 删除成功
//
//          - each cartItem in cartItems
