doctype html
html(lang="en")
  head
    - var name = '商品详情页'
    title=name
    meta(charset="utf-8")
    meta(name="viewport" content = "width=device-width")

    link(rel="stylesheet" type ="text/css" href="github/Semantic-Org/Semantic-UI@1.11.5/dist/semantic.css")

    script(src="jspm_packages/system.js")
    script(src="config.js")
    script.
      System.import('js/itemDetails')
    script(src="github/Semantic-Org/Semantic-UI@1.11.5/dist/semantic.js")

  body
    .ui.centered.segment
      .ui.grid.centered
        .sixteen.wide.column
          .ui.large.breadcrumb
            a.section 主类
            i.right.chevron.icon.ider
            a.section 分类
            i.right.chevron.icon.ider
            .active.section 商品名称

        .ui.grid.nine.wide.column.centered
          .ten.wide.column
            img.ui.vertical.big.bordered.rounded.centered.image#itemImage

          .six.wide.column
            h2.ui.floated.header.orange.backge#itemName
            table.ui.definition.table
              tbody
                tr
                  td.four.wide.column.centered 单价
                  td#itemPrice
                tr
                  td 单位
                  td#itemUnit
                tr
                  td 规格
                  td#itemSpecification
                tr
                  td 数量
                  td
                    i.minus.square.icon
                    .three.wide.column
                      input(type="text" value=1 id="numberInput")
                    i.add.square.icon
                tr
                  td 库存
                  td#itemLeftNum
            button.ui.primary.button
              i.cart.in.icon
              span 添加到购物车
              i.right.chevron.icon
        .ui.grid.centered
          .nine.wide.column
            .ui.message
              .header
                商品详情：
              p#itemDescription
