doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="/jspm_packages/github/ziyiking/Semantic-UI@master/dist/semantic.css")
    link(rel="stylesheet" type="text/css" href="/style/layout.css")
    script(src = "/jspm_packages/system.js")
    script(src = "/config.js")
    script.
      System.import("js/cart");
      System.import("js/layout");
    block css
    block script
    block title
      title 首页
  body
    .container
      .ui.grid.topBar
        .one.wide.column &nbsp;
        .seven.wide.column
          span Hi，
          span#current-user #{currentUserName}
          span 欢迎来到Let Us Go商城
        .three.wide.column
          span#my-account 我的Let Us Go
          a#my-cart.ui.link.item(href="/cart") 购物车
            i.cart.in.icon
            strong.ui.label#cart-amount 0
        .two.wide.column
          a(href="#")#login 请登录
          a(href="/register")#register 免费注册
        .one.wide.column
          a(href="#")#logout 注销
      .ui.grid.myLogoAndSearch
        .four.wide.column.myLogo
          a(href='/')
            image.myLogoImg(src= "/image/logo.png")
        //.twelve.wide.column#mySearch
        //  .ui.fluid.category.search
        //    .ui.icon.input.searchInput
        //      input.prompt(type="text" placeholder="Search...")
        //      i.search.icon
        //    .results
      .ui.success.floating.message.hidden#login-tips
        p#login-success
      .ui.error.floating.message.hidden#logout-tips
        p#logout-success
      block content
      .ui.divider.horizontal 关于我们
      footer
        .ui.grid
          .sixteen.wide.column
          .seven.wide.column.group
            h4 LetUsgo 团队
            p TWA 学院
            p LetUsGo 计划组
          .two.wide.column
          .seven.wide.column
            h4 联系我们
            p 地址：陕西省西安市雁塔区欧亚路一号
            p 邮编：710077
          .sixteen.wide.column.copyright
            p copyright@letusgo All Rights Reserved 版权所有LETUSGO商城
            p © 2015 LetUsGo, Inc.
    .ui.first.coupled.small.modal.user-login-modal.hidden
      .content
        .ui.grid.centered
          .ten.wide.column
            .ui.form.segment
              .ui.header#login-header 登陆我的LetUsGo
              .filed
                input#user-name-login(placeholder="用户名" type="text")
                span#user-name-message
              .field
                input#password-login(placeholder="密码" type="password")
                span#password-message
              .field
                .ui.error.message#login-result
      .actions
        a#findPassword(href='/retrievePassword') 忘记密码？
        a.primary.ui.button.register(href='/register') 注册
        a.ui.positive.right.labeled.icon.button#user-login 登陆
          i.right.arrow.icon
