doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="/jspm_packages/github/Semantic-Org/Semantic-UI@1.11.6/dist/semantic.css")

    block css
    block title
      title 首页
  body
    .container
      .ui.grind.left
        .sixteen.wide.column
        .one.wide.column
        a.one.wide.column(href='/')
          image(src= "/image/logo.png")
        .twelve.wide.column

      .ui.grid.centered
        .sixteen.wide.column
        .fourteen.wide.column
          .ui.inverted.teal.menu
            .left.menu
              a.ui.item(href="/") Let Us Go
            .right.menu
              block cart
                a.ui.link.item(href="/cart") 购物车
                  i.cart.in.icon
      block content

      .ui.divider.horizontal 关于我们
      footer
        .ui.grid(style="text-align: center")
          .sixteen.wide.column
          .sixteen.wide.column
            p copyright@letusgo All Rights Reserved
