doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    block css
    block title
      title 首页
  body
    div.container
    div.ui.inverted.masthead.segment
      div.row
        div.sixteen.wide.column
          div.ui.inverted.teal.menu
            div.left.menu
              a.ui.item LetUsGo
              block home
                a#homeLink.ui.link.item(href="/") 主页
                i.home.icon
              block shop
                a.ui.link.item(href="shop") 商城
              block management
                a.ui.link.item(href="shopManagement") 商城管理
            div.right.menu
              block cart
                a.ui.link.item(href="cart") 购物车
                  i.cart.in.icon
    block content
