doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="/jspm_packages/github/Semantic-Org/Semantic-UI@1.11.6/dist/semantic.css")

    block css
    block title
      title 首页
  body
    div.container
    div.ui.inverted.masthead.segment
      div.row
        div.sixteen.wide.column
          div.ui.inverted.teal.menu
            div.left.menu
              a.ui.item LetUsGo
              block home
                a#homeLink.ui.link.item(href="/") 首页
                i.home.icon
            div.right.menu
              block cart
                a.ui.link.item(href="cart") 购物车
                  i.cart.in.icon
    block content
