extends layout
block css
  link(rel="styleSheet" type="text/css" href="/style/register.css")
block script
  script.
    System.import('js/retrievePassword')
block title
  title 找回密码
block content
  .ui.grid.centered
    .eight.wide.column
      .ui.form.segment
        .ui.header#register-header 找回密码
        .filed
          input#retrieve-user-name(placeholder="用户名" type="text")
          i.checkmark.icon#find-user-name
          span#user-name-message
        .field
          input#retrieve-email(placeholder="邮箱" type="text")
          i.checkmark.icon#find-email
          span#email-message
        .field#button-field
          .ui.positive.reset.button#reset-button 重置
          .ui.negative.submit.button#retrieve-button 提交

        .ui.second.small.coupled.modal.transition.hidden#retrieve
          .header 验证成功
          .content
            .description
              .p 系统已经向该邮箱发送了一封找回密码邮件
                .p 请查收邮件,进行密码找回！
          .actions
            a.primary.ui.button.confirm 确定
