extends ./navBar.jade

block css
  script(src="jspm_packages/system.js")
  script(src="config.js")
  script.
    System.import('js/success')
  link(rel="stylesheet" type="text/css" href="jspm_packages/github/ziyiking/Semantic-UI@masterdist/semantic.css")
block title
  title 支付成功

block content
  .ui.grid.centered
    .ten.wide.column.centered
      h1 您本次消费
        span#amount(style="color: red")
        span 元
      h1 支付成功，
        span#sec 3
        span 秒后跳回首页。。。
