extends layout
block css
  link(rel="styleSheet" type="text/css" href="/style/success.css")
block script
  script.
    System.import('js/success');
block title
  title 支付成功
block content
  .ui.grid.centered
    .ten.wide.column.centered
      h1 您本次消费
        span#amount(style="color: red")
        span 元
      h1 支付成功，
        span#sec 3
        span 秒后跳回首页。。。
