extends layout
block script
  script.
    System.import('js/layout');
    System.import('js/success');
block title
  title 注册成功
block content
  .ui.grid.centered
    .fourteen.wide.column
      h1.ui.header.centered.red
        .content
        span 恭喜
        span#user-name #{userName}
        span ，注册成功O(∩_∩)O
        span#sec &nbsp;3
        span 秒后跳回首页。。。
    .fourteen.wide.column
    .fourteen.wide.column
      .ui.grid.centered
        .eight.wide.column
          h2(style='text-align:center')
            a(href='/') GO商城首页
        .eight.wide.column
          h2(style='text-align:center')
            a(href='/#') 我的Letusgo

